extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="POST")
    label ID
    input(type="text", name="id")
    label Tab
    input(type="text", name="tab")
    input(type="submit", name="close", value="Close")
  form(mehod="post")
    input(type="submit", name="closeall", value="Close All")